<ion-header>
  <ion-toolbar>
    <button  float-right  ion-button  class="colrose closeB" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-title class="colrose">Pharmacies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="backgro" *ngFor="let phar of Listphar" >
    <ion-card-header>
      <ion-card-title> <ion-icon name="person"></ion-icon> {{ phar.Nom }} {{ phar.Prenom }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-icon name="pin"></ion-icon> <b>Address:</b> <br> {{ phar.Adresse }} <br>
      <ion-icon name="stopwatch"></ion-icon> <b>Pharmacy:</b><br> {{ phar.Pharmacie }} <br>
      <ion-icon name="call"></ion-icon> <b>Phone:</b> <br>{{ phar.numtel }}
    </ion-card-content>
    
  </ion-card>
</ion-content>
