.colrose{
    color:#ff0047;
  }
  .colgris{
    color:#4f6b71;
  }
  .backrose{
    --background:#ff0047;
  }
  .backgris{
    --background:#4f6b71;
  }

  .closeB{
    background-color: transparent;
    height: 24px;
    font-size: 18px;
  }
  .videooshow{
   margin-top: 10px;
   margin-bottom: 10px;
   width: 99.9%;
   border-color: burlywood;
   border-width: thick;
  }
  .titleshow{
    display: block;
    text-align: center;
    margin-top: 10px;
  }