<ion-header>
  <ion-toolbar>
    <button  float-right  ion-button  class="colrose closeB" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-title  class="colrose">ModalePageFood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-label  class="colgris titleshow" ion-title >Prepare healthy meals safely</ion-label>
  <iframe class="videooshow" src="https://www.youtube.com/embed/V2BojQ8R3iA"  allowfullscreen></iframe>

  <iframe class="videooshow" src="https://www.youtube.com/embed/5hn0YB5SDAg"  allowfullscreen></iframe>

  <iframe class="videooshow" src="https://www.youtube.com/embed/vPpFdMuGMK0"  allowfullscreen></iframe>

  <iframe class="videooshow" src="https://www.youtube.com/embed/mh4WAcig5JA"  allowfullscreen></iframe>

</ion-content>
