<ion-header>
  <ion-toolbar>
    <ion-buttons class="colrose" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  class="colrose">Pharmacies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchCountry" autocomplete="off"></ion-searchbar>
  </ion-toolbar>
  <ion-list >
    <ion-item  >
      <ion-label>
      
        <button ion-button float-right class="colrose closeB" (click)=presentModal() >
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<!---
<ion-content>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchCountry" autocomplete="off"></ion-searchbar>
  </ion-toolbar>
  <ion-list >
    <ion-item *ngFor="let pay of Listpays | filter:searchpay" >
      <ion-label>
      {{ pay  }}
        <button ion-button float-right class="colrose closeB" (click)=presentModal(pay) >
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> 
-->