:host {
    ion-content {
      background: url("/assets/img/background1.png") no-repeat;
    }
   
}

.paz {
    position: relative;
    z-index: 10;
}
.colrose{
    color:#ff0047;
  }
  .colgris{
    color:#4f6b71;
  }
  .backrose{
    --background:#ff0047;
  }
  .backgris{
    --background:#4f6b71;
  }